footer {
	.footerlist {
		background-color: $silver;
		.social-media a {
			@include social();
		}
		ul li {
			line-height: 2em;
			a {
				color: darken($silver, 70);
				font-size: 0.6em;
			}
		}
	}
	.footer {
		background-color: darken($silver, 70);
		color: white;
		padding: 2% 0;
		p {
			font-size: 0.8em;
		}
		img {
			width: auto;
		}
	}
}